h1
{
    display:flex;
    color:#DDB8A6 ;
    font-size: 50px;
    font-family: arial;
    background-color:#7297a0;
    justify-content: center;
    align-items: center;
    height: 200px;
    width:100%;
}
button{
    background:url(./images/smoosh.jpg) no-repeat;
    cursor:pointer;
    border:none;
    height:500px;
    width:500px;
}
.buttons
{
    display:flex;
    justify-content: center;
    align-items: center;
}
.bottom
{
    display:flex;
}
.left
{
    display:inline-flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#DDB8A6 ;
    font-size: 50px;
    font-family: arial;
    background-color:#7297a0;
}
.right
{
    display:inline-flex;
    width:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#DDB8A6 ;
    font-size: 50px;
    font-family: arial;
    background-color:#7297a0;
}